<footer class="affliction-footer">
    <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}} <span class="theme-by">Theme by <a href="https://antistartup.io"> Petro Popelyshko</a> </span></section>

    <div class="social-icons">
        <div class="site-nav-left">
            <nav class="site-footer-nav">
                {{#if @site.facebook}}
                    <a class="social" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>{{/if}}
                {{#if @site.twitter}}
                    <a class="social" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>{{/if}}
            </nav>
        </div>
    </div>
</footer>