{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header>{{!--Special header.hbs partial to generate the <header> tag--}}
<div class="inner">
    <div class="site-header-content">
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
            {{else}}
                {{@site.title}}
            {{/if}}
        </h1>
        <h2 class="site-description">{{@site.description}}</h2>
    </div>
    {{> "site-nav"}}
</div>
</header>

<main role="main">
<!-- This is the post loop - each post will be output using this markup -->
  {{#foreach posts}}
	<article class="{{post_class}}" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('{{ img_url feature_image size="xl" }}')">
 		<header class="post-header">
   		<h2><a href="{{url}}">{{title}}</a></h2>
            {{#if feature_image}}
                <a class="post-card-image-link" href="{{url}}">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}

                </a>
            {{/if}}
    </header>
    <section class="post-excerpt">
 			<p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
    </section>
    <footer class="post-meta">

      {{primary_author}}
      {{tags prefix=" on "}}
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
  </article>
  {{/foreach}}

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}